header {
	height: 100px;
	background-color: #3498db;
}

.content-poc, .content-tutoriel {
	background-color: #f1c40f;
	.list-poc, .list-tutoriel {
		display: flex;
		justify-content: space-around;
		div {
		}
	}
}

.content-formation {
	width: 100%;
	.wordpress-image {
		height: 475px;
	}
}
